################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/reactproject1/.vs/reactproject1
/reactproject1/obj/Debug
